#text {
    padding-left: 295px;
    /*padding-bottom: -700px;*/
    height: 10px;

}

#kosta{
    padding-top: 90px;
    margin-left: 50px;
}


/*.col mb-3{*/
/*    width: 10px;*/
/*    background-color: #39c439;*/
/*}*/
#add {
    background-color: #ea5f5f;
    /*padding-bottom: -150px;*/
    margin-top: 0px;


}