#text {
    padding-left: 295px;
    /*padding-bottom: -700px;*/
    height: 10px;
    padding-bottom:-30px;

}

#kosta{
    padding-top: 90px;
    margin-left: 50px;
    font-family: "ui-serif";
    font-size: 20px;
}


/*.col mb-3{*/
/*    width: 10px;*/
/*    background-color: #39c439;*/
/*}*/
#add {
    background-color: #ea5f5f;
    /*padding-bottom: -150px;*/
    margin-top: 0px;


}
/*.col-md-6{*/
/*    background-color: green;*/

/*}*/

/*#comp{*/
/*    margin-bottom: 130px;*/
/*}*/
